.hero {  
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-accent-color: #477DCA !default;
  $large-screen: em(860) !default;
  //////////////////////////////////////////////////////////////////////////////////

  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: 'cityscape.jpg';

  @include background(asset-url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;
  overflow-y: hidden;

  .hero-logo img {
    height: 100%;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;
      
      h1 {
        font-size: 3.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 2.8em;
        }
      }

      p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 1.7em auto; 

        @include media($large-screen) {
          font-size: 1.7em;
          max-width: 60%;
        }
      }

    }

    a.sign_in{
      color: white;
      font-weight: bold;
    }

    button {
      @include button(flat, $base-accent-color);
      font-size: 2.3em;
      padding: 0.7em 1em;

      @include media($large-screen){
        font-size: 1.6em;
      }
    }
  }
}

.home{
  overflow-y: hidden;
}
