<aside class="user-info flex-box flex-box-small">
  <%= render 'user_info', user: @user %>
</aside>
<div class="content flex-box flex-box-big">
  <section class="users">
    <%= render partial: 'user', collection: @users %>
  </section>
</div>
