<%= content_for :page_title do %>
  Good slogan here
<% end %>
<div class="hero">
	<div class="hero-inner">
    <%= image_tag "logo_white.png", alt: "Logo image" %>
		<div class="hero-copy">
			<h1>Chirrup</h1>
      <p>
        Twitter é overrated.
      </p>	
		</div>
    <%= link_to t('layouts.application.sign_up'), sign_up_path, class: 'btn' %>
    <p><small>Já tem uma conta? <%= link_to 'Entrar', sign_in_path, class: 'sign_in' %></small></p>
	</div>
</div>
