<%= content_for :page_title do %>
  Good slogan here
<% end %>
<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo">
      <%= image_tag "logo_white.png", alt: "Logo image" %>
    </a>
		<div class="hero-copy">
			<h1>Chirrup</h1>
      <p>
        Yet another microblog platform that you will love
      </p>	
		</div>
    <button>Sign up</button>
	</div>
</div>
