<aside class="user-info flex-box flex-box-small">
  <%= render 'user_info', user: @post.user %>
</aside>

<div class="content flex-box flex-box-big">
  <section class="posts">
    <%= render partial: 'post', locals: { post: @post } %>
  </section>
</div>
